// Colors #AAB1B8
$base-color: #edeff3;
$brand-color: #5d9df4;
$accent-color: #f7c245;
$base-hover: #f6f8fa;
$font-primary: #3d4147;
$font-secondary: #8b8f94;
$white: #fff;
$button: lighten($font-secondary, 60%);
$error: #eb4e4e;